* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #101318;
    color: #f4f4f4;
    line-height: 1.6;
}

.cabecalho {
    width: 100%;
    min-height: 85px;
    padding: 10px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #151922;
    border-bottom: 1px solid #2d3440;
    position: sticky;
    top: 0;
    z-index: 10;
}


.logo img {
    width: 130px;
    height: 60px;
    object-fit: cover;
    border-radius: 8px;
    transition: 2s;
}

.logo:hover {
    transform: translateY(-8px);
 border: 2px solid  #ff7112;
 transition: 1s;
}

nav {
    display: flex;
    gap: 25px;
}

nav a {
    color: rgb(190, 116, 25);
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
}

nav a:hover {
    color: #0f19ce;
    transform: translateY(-2px);
}

.hero {
    min-height: 650px;
    padding: 70px 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    background: linear-gradient(135deg, #101318, #1b2029);
    overflow: hidden;
}

.hero-texto {
    max-width: 600px;
    animation: aparecer 1s ease;
}

.pequeno {
    color: #ff8018;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 13px;
    margin-bottom: 12px;
}

.hero h1 {
    font-size: clamp(40px, 6vw, 70px);
    line-height: 1.05;
    margin-bottom: 15px;
}

.hero h1 span {
    color: #ff7918;
}

.hero h2 {
    font-size: 24px;
    color: #cbd0d8;
    margin-bottom: 18px;
}

.hero p {
    color: #aeb5c0;
    font-size: 17px;
}

.botoes {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.botao {
    text-decoration: none;
    color: white;
    background: #07b607;
    padding: 12px 22px;
    border-radius: 7px;
    font-weight: bold;
    transition: 0.3s;
}

.botao:hover {
    transform: translateY(4px);
    box-shadow: 0 10px 25px rgba(255, 113, 18, 0.25);
}

.botao.secundario {
    background: transparent;
    border: 1px solid #d4cfcb;
}

.hero-foto {
    position: relative;
    width: 360px;
    min-width: 300px;
    animation: subir 1.2s ease;
}

.hero-foto img {
    width: 100%;
    height: 520px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    position: relative;
    z-index: 2;
    border: 4px solid #292f39;
    transition: 0.5s;
}

.hero-foto img:hover {
    transform: scale(1.02) rotate(1deg);
}
.hero-foto img:hover {
    transform: translateX(8px);
 border: 2px solid  #ff7112;
 transition: 1s;
}


.circulo {
    position: absolute;
    width: 260px;
    height: 260px;
    background: #0e6a31;
    border-radius: 50%;
    right: -45px;
    top: -45px;
    opacity: 0.15;
    animation: pulsar 3s infinite;
}

.secao {
    padding: 80px 9%;
}

.secao:nth-child(even) {
    background: #151922;
}

.titulo {
    text-align: center;
    font-size: 34px;
}

.linha {
    width: 70px;
    height: 4px;
    background: #008465;
    margin: 12px auto 35px;
    border-radius: 5px;
}

.sobre-caixa {
    max-width: 850px;
    margin: auto;
    background: 25px;
    padding: 25px;
    border: 1px solid #1d232d;
    border-radius: 10px;
    color: #c7ccd4;
    box-shadow: 0 8px 25px rgba(42, 35, 28, 0.2);
    transition: .2s;
}

.sobre-caixa p + p {
    margin-top: 15px;
}
.sobre-caixa:hover{
   transform: translateY(-8px);
    border-color: #039035; 
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    background: #1d232d;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid #2b323d;
    transition: 0.35s;
}

.card:hover {
    transform: translateY(-8px);
    border-color: #ff7112;
}

.icone {
    font-size: 30px;
    margin-bottom: 10px;
}

.card h3 {
    margin-bottom: 8px;
}

.card p {
    color: #aeb5c0;
    font-size: 14px;
}

.timeline {
    max-width: 900px;
    margin: auto;
    position: relative;
}

.timeline::before {
    content: "";
    position: absolute;
    left: 120px;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #0c8e4d;
}

.item {
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 30px;
    margin-bottom: 30px;
    position: relative;
    transition: .2s;
}

.item:hover{
    transform: translateY(-8px);
    border-color: #12ff45;
}
    
.ano {
    color: #12ff69;
    font-weight: bold;
    text-align: right;
    padding-top: 3px;
}

.conteudo {
    background: #29354a;
    padding: 20px;
    border-radius: 8px;
    position: relative; 
    border: 1px solid #160738;}

.conteudo:hover{
  transform: translateY(-8px);
    border-color: #12ff45;
}

.conteudo::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #ff7112;
    left: -37px;
    top: 25px;
}

.conteudo p {
    color: #aeb5c0;
}

.contacto {
    background: #101318;
}

.contactos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 950px;
    margin: auto;
}

.contactos a {
    text-decoration: none;
    color: white;
    background: #1d232d;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #2b323d;
    transition: 0.3s;
}

.contactos a:hover {
    transform: translateY(-6px);
    border-color: #ff7112;
}

.contactos strong {
    display: block;
    color: #ff7112;
    margin-bottom: 5px;
}

.contactos span {
    color: #c8cdd5;
    font-size: 14px;
}

footer {
    background: #0b0e12;
    padding: 30px;
    text-align: center;
    color: #858d99;
    box-shadow: #ff7918;
    border: #0b0e12;
    }


footer img {
    width: 120px;
    height: 55px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 8px;
     box-shadow: 1px solid #b16b08;
     transition: 1s;
     border: #ff7918;    
}



@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateX(-35px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes subir {
    from {
        opacity: 0;
        transform: translateY(35px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pulsar {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.12);
    }
}

@media (max-width: 900px) {
    .cabecalho {
        flex-direction: column;
        gap: 10px;
    }

    nav {
        gap: 12px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero {
        flex-direction: column;
        text-align: center;
        padding-top: 50px;
    }

    .botoes {
        justify-content: center;
    }

    .hero-foto {
        width: 300px;
    }

    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .contactos {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 560px) {
    .cards {
        grid-template-columns: 1fr;
    }

    .timeline::before {
        display: none;
    }

    .item {
        display: block;
    }

    .ano {
        text-align: left;
        margin-bottom: 8px;
    }

    .conteudo::before {
        display: none;
    }

    .hero-foto img {
        height: 440px;
    }
}
